<p>favourites works!</p>
<div class="container">
  <div class="row row-cols-4">
    <div class="col" *ngFor="let p of favouritesDue">
      <div class="card">
        <img [src]="[p.images[0]]" alt="" />
        <div class="card-body">
          <h5 class="card-title">{{ p.title }}</h5>

          <p class="card-text">{{ p.id }}</p>
          <p class="card-text">{{ p.description }}</p>
          <p class="card-text">{{ p.category }}</p>
          <p class="card-text">{{ p.price }}</p>
          <p class="card-text">{{ p.discountPercentage }}</p>
          <p class="card-text">{{ p.rating }}</p>
          <p class="card-text">{{ p.stock }}</p>
          <p class="card-text">{{ p.tags }}</p>
          <p class="card-text">{{ p.brand }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
