<div class="container">
  <div class="row row-cols-4">
    <div class="col" *ngFor="let p of productArr">
      <div class="card">
        <img [src]="[p.images[0]]" alt="" />
        <div class="card-body">
          <h5 class="card-title">{{ p.title }}</h5>

          <p class="card-text">{{ p.id }}</p>
          <p class="card-text">{{ p.description }}</p>
          <p class="card-text">{{ p.category }}</p>
          <p class="card-text">{{ p.price }}</p>
          <p class="card-text">{{ p.discountPercentage }}</p>
          <p class="card-text">{{ p.rating }}</p>
          <p class="card-text">{{ p.stock }}</p>
          <p class="card-text">{{ p.tags }}</p>
          <p class="card-text">{{ p.brand }}</p>
          <button class="btn btn-success" (click)="FavorOnclick(p)">
            preferiti
          </button>
          <button class="btn btn-warning" (click)="cartClick(p)">
            carrello
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid position-fixed bottom-0 text-bg-dark">
  <div class="row" *ngIf="cart2">
    <div class="col-1" *ngFor="let product of cart2">
      <div class="card mb-3">
        <img [src]="[product.images]" alt="" />
        <p>{{ product.title }}</p>
        <button class="btn btn-danger" (click)="remuvetocart(product)">
          cancella
        </button>
      </div>
    </div>
  </div>
</div>
